@use 'core' as *;

p-card {
  width: clamp(350px, 50vw, 600px) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  section form {
    display: flex;
    flex-direction: column;
    gap: pxToRem(16);
    align-items: center;
  }
}
