<div class="input-container">
  <p-card header="نمونه سیگنال فرم" subheader="فرم لاگین نمونه">
    <section>
      <form [formRoot]="contactForm" novalidate (ngSubmit)="contactForm().submitting()">
        <div>
          <pt-label [size]="UK_TYPE.LABEL.SIZE.SMALL" [weight]="UK_TYPE.LABEL.WEIGHT.BOLD">
            نام کاربری:
          </pt-label>
          <input pInputText type="text" [formField]="contactForm.name" />
          @if (contactForm.name().touched() && contactForm.name().invalid()) {
          <div class="error-container">
            @for (error of contactForm.name().errors(); track $index) {
            <p-message severity="error" size="small" variant="simple"
              >{{ error.message }}</p-message
            >
            }
          </div>
          }
        </div>
        <div>
          <pt-label [size]="UK_TYPE.LABEL.SIZE.SMALL" [weight]="UK_TYPE.LABEL.WEIGHT.BOLD">
            ایمیل:
          </pt-label>
          <input pInputText type="email" [formField]="contactForm.email" />
          @if (contactForm.email().touched() && contactForm.email().invalid()) {
          <div class="error-container">
            @for (error of contactForm.email().errors(); track $index) {
            <p-message severity="error" size="small" variant="simple"
              >{{ error.message }}</p-message
            >
            }
          </div>
          }
        </div>
        <pt-button [buttonType]="'submit'" [fgColor]="UK_TYPE.LABEL.FG_COLOR.WHITE">
          @if (contactForm().submitting()) { در حال ثبت... } @else { ثبت }
        </pt-button>
      </form>
    </section>
  </p-card>
</div>
