<div class="comp loan-list">
  <pt-label> دکتر خوش آمدید </pt-label>

  <pt-show-case></pt-show-case>
  <!-- <pt-persian-datepicker
    [calendarType]="UK_TYPE.DATE_PICKER.TYPE.JALALI"
    [format]="UK_TYPE.DATE_PICKER.FORMAT.DATE_DASH"
    [(ngModel)]="myDate"
  />
  <pt-persian-datepicker format="yyyy/MM/dd HH:mm" [formControl]="myDate2" />
  <pt-data-table
    [items]="mockDataTable"
    [cols]="mockCols"
    [isLoading]="isLoading()"
    [totalRecords]="totalItems()"
    [rows]="pageSize()"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    [selectionMode]="UK_TYPE.DATA_TABLE.SELECTION_TYPE.MULTIPLE"
    [dataKey]="'id'"
    (pageChanged)="onPageChanged($event)"
    (selectionChanged)="onSelectionChanged($event)"
    [customizeColumn]="true"
  >
  </pt-data-table> -->

  <!-- <pt-stepper [steps]="steps" (done)="onComplete()" (stepChange)="stepChange($event)">
    <ng-template #step>
      <h2>Step 1: Final Confirmation</h2>
      <p>Your content here...</p>
    </ng-template>

    <ng-template #step>
      <h2>Step 2: Payment Method</h2>
    </ng-template>

    <ng-template #step>
      <h2>Step 3: Companions</h2>
    </ng-template>

    <ng-template #step>
      <h2>Step 4: Course Selection</h2>
    </ng-template>
  </pt-stepper>

  <pt-multi-select
    [items]="multiSelectItems"
    bindLabel="title"
    bindValue="id"
    [(ngModel)]="selectedFromMultiSelect"
  >
  </pt-multi-select> -->
  <!-- <div class="check-box-group-container">
    <pt-check-box-group [(ngModel)]="selectedValues">
      <div class="options">
        @for (item of checkBoxItems; track item) {
        <div class="option">
          <pt-check-box [id]="item.value" [disabled]="item.disabled" />
          <pt-label [fgColor]="UK_TYPE.LABEL.FG_COLOR.TEXT_NORMAL"> {{ item.label }} </pt-label>
        </div>
        }
      </div>
    </pt-check-box-group>
    selectedValues=> {{selectedValues}}
  </div> -->
  <!-- <div class="radio-box-group-container">
    <pt-radio-button-group [(ngModel)]="tempValueRadioGroup">
      <div class="options">
        @for (item of radioBoxItems; track item) {
        <div class="option">
          <pt-radio-button [disabled]="item.disabled" [id]="item.id" [name]="'singleOptions'" />
          <pt-label [fgColor]="UK_TYPE.LABEL.FG_COLOR.BLACK"> {{ item.text }} </pt-label>
        </div>
        }
      </div>
    </pt-radio-button-group>
    tempValueRadioGroup=> {{tempValueRadioGroup}}
  </div> -->
  <!-- <article class="autocompleate-container">
    <pt-auto-complete
      [items]="suggestionAutoCompletes()"
      [loading]="isLoading()"
      [placeholder]="'شروع به تایپ کنید...'"
      [minLength]="1"
      (searchEvent)="search($event)"
      (changeValue)="onValueChange($event)"
    />
    <hr />
    suggestionAutoCompletes()=>{{suggestionAutoCompletes()}}
  </article> -->
  <!-- <article>
    <div class="dialog-buttons">

      <button (click)="openBasicDialog()">Open Basic Dialog</button>
      <button (click)="openDialogWithFooter()">Open Dialog With Footer</button>
      <button (click)="openTextDialog()">Open Text Dialog</button>
      <button (click)="openTextDialogWithFooter()">Open Text Dialog With Footer</button>
    </div>

    @if (lastResult()) {
    <div class="result">
      <h4>Last Result:</h4>
      <pre>{{ lastResult() | json }}</pre>
    </div>
    }
  </article> -->
</div>
