@use 'core' as *;
h1 {
  color: $text-normal;
}

.check-box-group-container,
.radio-box-group-container {
  margin: pxToRem(16);
  width: pxToRem(200);
  .options {
    display: flex;
    flex-direction: row;
    .option {
      width: 100%;
    }
  }
}
