<header class="comp header">
  <div class="header-content">
    <div>
      <pt-button
        class="theme-toggle"
        (click)="toggleSidebar()"
        [height]="UK_TYPE.BUTTON.height.H_32"
        [bgColor]="UK_TYPE.BUTTON.bgColor.TRANSPARENT"
      >
        منو
      </pt-button>
    </div>
    <div class="image-container">
      <div>
        <pt-image
          [source]="'assets/images/logo/logo_select_center.png'"
          [objectFit]="UK_TYPE.IMAGE.OBJECT_FIT.FILL"
        />
      </div>
    </div>
    <div class="second-part">
      <div class="select-center-container">
        <div class="icon-label">
          <pt-icon [src]="'assets/images/icons/hospital.svg'" [size]="UK_TYPE.ICON.SIZE.LARGEST" />
          <pt-label
            [horizontalAlignment]="UK_TYPE.LABEL.horizontalAlignment.START"
            [fgColor]="UK_TYPE.LABEL.FG_COLOR.BASE_TONAL"
            [size]="UK_TYPE.LABEL.SIZE.SMALLEST"
            [weight]="UK_TYPE.LABEL.WEIGHT.BOLD"
            [padding]="UK_TYPE.LABEL.padding.NONE"
          >
            مرکز :
          </pt-label>
        </div>
        <div class="select-center">
          <pt-select
            [(ngModel)]="selectedCenter"
            [items]="MEDICAL_CENTERS"
            bindLabel="title"
            bindValue="id"
            [borderColor]="UK_TYPE.SELECT.borderColor.TRANSPARENT"
            [noBorder]="UK_TYPE.BOOLEAN_TYPE.TRUE"
          />
        </div>
      </div>
      <pt-button class="theme-toggle" (click)="toggleTheme()" [height]="UK_TYPE.BUTTON.height.H_32">
        {{ APP_FACADE.theme() === Themes.DARK_THEME ? '☀️' : '🌙' }}
      </pt-button>
    </div>
  </div>
</header>
