<div class="sidebar" [class.collapsed]="collapsed()">
  <div class="menu-item" (click)="toggleMenu('users')">
    <div class="menu-header">
      <i class="icon">👤</i>

      @if (!collapsed()) {
      <span class="label">Users</span>
      } @if (!collapsed()) {
      <span class="arrow"> {{ openMenu() === 'users' ? '▼' : '▶' }} </span>
      }
    </div>
  </div>

  @if (openMenu() === 'users') {
  <div class="submenu">
    <a class="submenu-item">
      <i class="icon">•</i>

      @if (!collapsed()) {
      <span>List Users</span>
      }
    </a>

    <a class="submenu-item">
      <i class="icon">•</i>

      @if (!collapsed()) {
      <span>Create User</span>
      }
    </a>
  </div>
  }
</div>
