@use 'core' as *;
:host {
  width: 100%;
  height: 100%;
}

.comp.select-center {
  display: flex;
  width: 100%;
  min-height: 100dvh;
  flex-direction: column;
  background: linear-gradient(108deg, #bbd2c5 0%, #536976 100%);
  justify-content: center;
  align-items: center;
  & .card-container {
    width: 90%;
    max-width: pxToRem(755);
    .main-container-card {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: pxToRem(20);
      width: 100%;
      padding: pxToRem(16);
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: pxToRem(67);
        width: 100%;
      }
      .logout-part {
        width: pxToRem(70);
        align-self: flex-end;
        background-color: $base-light;
      }
    }
  }
}
