<pt-basic-card
  [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
  [padding]="UK_TYPE.CARD.PADDING.MEDIUM"
  [radius]="UK_TYPE.CARD.RADIUS.MEDIUM"
>
  <div class="sidebar" [class.collapsed]="collapsed()">
    <div class="sidebar-header">
      <div class="image-container">
        <div>
          <pt-image
            [source]="'assets/images/icons/profile-circle.svg'"
            [objectFit]="UK_TYPE.IMAGE.OBJECT_FIT.FILL"
          />
        </div>
      </div>
      <div>
        <pt-label [size]="UK_TYPE.LABEL.SIZE.SMALLEST"> کاربر:</pt-label>
        <pt-label [size]="UK_TYPE.LABEL.SIZE.SMALLER" [weight]="UK_TYPE.LABEL.WEIGHT.BOLD"
          >سعید دالوند</pt-label
        >
      </div>
      <pt-icon [src]="'assets/images/icons/hospital.svg'" [size]="UK_TYPE.ICON.SIZE.LARGEST" />
    </div>

    <div class="menu-container">
      @for (item of menuItems; track item.title) {
      <div
        class="menu-item"
        [routerLink]="item.route"
        [ngClass]="{active:openMenu() === item.title}"
        (click)="toggleMenu(item.title)"
      >
        <pt-icon [src]="'assets/images/icons/hospital.svg'" [size]="UK_TYPE.ICON.SIZE.LARGEST" />
        <pt-label
          [size]="UK_TYPE.LABEL.SIZE.SMALLER"
          [fgColor]="openMenu() === item.title ? UK_TYPE.LABEL.FG_COLOR.WHITE : UK_TYPE.LABEL.FG_COLOR.TEXT_NORMAL"
          [weight]="openMenu() === item.title ? UK_TYPE.LABEL.WEIGHT.BOLD : UK_TYPE.LABEL.WEIGHT.NORMAL"
        >
          {{ item.title }}
        </pt-label>

        @if (hasChildren(item)) {
        <pt-icon
          class="chevron-down"
          [ngClass]="{open:openMenu() === item.title}"
          [src]="'assets/images/icons/chevron-down.svg'"
          [size]="UK_TYPE.ICON.SIZE.LARGEST"
          [color]="openMenu() === item.title ?UK_TYPE.ICON.COLOR.WHITE :UK_TYPE.ICON.COLOR.DARK"
        />
        }
      </div>
      <!-- SUB MENU -->
      <div class="submenu" [class.open]="openMenu() === item.title">
        @for (child of item.children; track child.title) {
        <div
          class="submenu-item"
          routerLinkActive="active-child"
          [routerLink]="child.route"
          (click)="APP_FACADE.toggleSidebar()"
        >
          <div class="menu-start">
            <pt-label
              [size]="UK_TYPE.LABEL.SIZE.SMALLER"
              [weight]="childRoute() === child.route ? UK_TYPE.LABEL.WEIGHT.BOLD : UK_TYPE.LABEL.WEIGHT.NORMAL"
              [fgColor]="childRoute() === child.route  ? UK_TYPE.LABEL.FG_COLOR.PRIMARY : UK_TYPE.LABEL.FG_COLOR.TEXT_NORMAL"
            >
              {{ child.title }}
            </pt-label>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>
</pt-basic-card>
