@forward './colors';
@use './colors' as *;
@forward './mixins';
@forward './functions';
@forward './packages/persian-datepicker.scss';
@import '@angular/cdk/overlay-prebuilt.css';

input {
  border-color: $border-gray-medium !important;
  background-color: transparent !important;
  color: $color-input !important;
}
