/* universal styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

$font-family: 'IRANYekan';
//$font-family: 'IRANSans';

html {
  font-size: clamp(14px, 2.4vw + 0.4rem, 16px);
  width: 100%;
  height: 100%;
  direction: rtl;

  > body {
    width: 100%;
    height: 100%;

    bmn-root {
      width: 100%;
      height: 100%;
    }
  }
}

html,
body,
button,
input {
  font-family: $font-family;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  overscroll-behavior: none;
  touch-action: none;
}

html {
  font-size: clamp(12px, 1vw + 10px, 16px); // example
}
