<div class="comp main-layout">
  <nn-header />

  <div class="content-wrapper" [class.sidebar-collapsed]="!APP_FACADE.sidebar()">
    <aside class="sidebar-content">
      <sidebar></sidebar>
    </aside>
    <main class="content" (click)="closeMenuIfOpen()">
      <pt-basic-card
        [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
        [padding]="UK_TYPE.CARD.PADDING.MEDIUM"
        [radius]="UK_TYPE.CARD.RADIUS.MEDIUM"
      >
        <router-outlet />
      </pt-basic-card>
    </main>
  </div>
</div>
