<div class="comp main-layout">
  <header class="layout-header">
    <div class="header-content">
      <div class="image-container">
        <div>
          <pt-image
            [source]="'assets/images/logo/logo_select_center.png'"
            [objectFit]="UK_TYPE.IMAGE.OBJECT_FIT.FILL"
          />
        </div>
      </div>
      <!-- <button class="theme-toggle" (click)="toggleTheme()">
        {{ APP_FACADE.theme() === Themes.DARK_THEME ? '☀️ Light' : '🌙 Dark' }}
      </button> -->
    </div>
  </header>

  <div class="content-wrapper">
    <aside class="sidebar">
      <pt-basic-card
        [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
        [padding]="UK_TYPE.CARD.PADDING.MEDIUM"
        [radius]="UK_TYPE.CARD.RADIUS.MEDIUM"
      >
        سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار
        سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار
        سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار سایدبار
        سایدبار سایدبار
      </pt-basic-card>
    </aside>
    <main class="content">
      <pt-basic-card
        [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
        [padding]="UK_TYPE.CARD.PADDING.MEDIUM"
        [radius]="UK_TYPE.CARD.RADIUS.MEDIUM"
      >
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
        متن اصلی متن اصلی
        <router-outlet />
      </pt-basic-card>
    </main>
  </div>
</div>
