<div class="comp main-layout">
  <nn-header />
  <div class="content-wrapper">
    <aside class="sidebar-content">
      <sidebar></sidebar>
    </aside>
    <main class="content">
      <pt-basic-card
        [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
        [padding]="UK_TYPE.CARD.PADDING.MEDIUM"
        [radius]="UK_TYPE.CARD.RADIUS.MEDIUM"
      >
        <pt-label>
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی متن اصلی
          متن اصلی متن اصلی
        </pt-label>
        <router-outlet />
      </pt-basic-card>
    </main>
  </div>
</div>
