@use 'core' as *;

:host {
  @include fullHeightBlock();
  overflow: hidden;
}

.comp.main-layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $base-light;
  width: 100%;

  .content-wrapper {
    border-radius: pxToRem(24);
    padding: pxToRem(10) pxToRem(1);
    display: flex;
    justify-content: space-between;
    border-radius: pxToRem(24);
    margin: pxToRem(0) pxToRem(8);
    background-color: $base-light;
    overflow-y: auto;
    .sidebar-content {
      width: 17%; /* 1/4 width */
      height: 100%;
    }

    .content {
      width: 81%;
    }
  }
}
