<div class="comp insurance-identify">
  <pt-basic-card
    [bgColor]="UK_TYPE.CARD.BG_COLOR.NORMAL"
    [borderColor]="UK_TYPE.CARD.BORDER_COLOR.RED"
  >
    <pt-label [fgColor]="UK_TYPE.LABEL.FG_COLOR.PRIMARY" [weight]="UK_TYPE.LABEL.WEIGHT.BOLD"
      >{{title()}}</pt-label
    >
    @for (item of details() | keyvalue; track item.key) {
    <div class="key-value-conytainer">
      <pt-key-val>
        <ng-container KEY> {{item.key}} </ng-container>
        <ng-container VAL> {{item.value}}</ng-container>
      </pt-key-val>
    </div>
    }
  </pt-basic-card>
</div>
